/* General styles */
body {
    font-family: Arial, sans-serif;
    background-image: url('html_fileimages/pexels-photo-1198839.webp');
    background-size: cover;
    background-position: center;
    margin: 0;
}

.container {
    max-width: 100%; /* Adjusted for responsiveness */
    padding: 20px;
    display: grid; /* Change to grid layout */
    gap: 20px; /* Gap between grid items */
    grid-template-columns: 1fr; /* Single column layout for mobile */
}

.weather {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.7);
    padding: 20px;
}

.main-temperature {
    display: grid; /* Use grid for temperature section */
    gap: 10px;
}

.weather-info {
    padding-top: 20px;
}

#description::first-letter {
    text-transform: uppercase;
}

.forecast-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 10px;
    padding-top: 10px;
}

.forecast-item {
    background-color: rgba(36, 36, 237, 0.791);
    color: white;
    text-align: center;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Media queries for responsiveness */
@media (min-width: 768px) {
    .container {
        grid-template-columns: repeat(2, 1fr); /* Two-column grid layout */
    }

    .main-temperature {
        gap: 20px;
    }
}

@media (min-width: 1024px) {
    .container {
        grid-template-columns: repeat(3, 1fr); /* Three-column grid layout */
    }
}